<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page-header text-center">
    <img src="/images/xummlogo/xumm-logo.svg" class="img-fluid" alt="XUMM Logo"  width=150" height="150">
    <p>Welcome to <%= title %></p>
    <a href="/pay" class="btn btn-primary btn-sm text-white" role="button"> Pay for Door Release </a>
    </div>
  </body>
</html>
